<!DOCTYPE html>
<html>
<head>
<title>专家信息表</title>
#parse("sys/header.html")
<script src="${rc.contextPath}/statics/libs/mydata.js"></script>
</head>
<body>

<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
		<!-- 查询区域 -->
		<div>
                           姓&nbsp;&nbsp;&nbsp;&nbsp;名：<input id="input_name" type="text" placeholder="专家姓名"/>
                           最高学历：<select id="select_highestEdu" style="padding:5px;">
                          <option value ="专科">专科</option>
                          <option value ="本科">本科</option>
                          <option value="硕士研究生">硕士研究生</option>
                          <option value="博士研究生">博士研究生</option>
                          <option value="其他">其他</option>
                           </select>
                           研究领域：<select id="select_researchField" style="padding:5px;">
                          <option value ="">请选择</option>
                           </select>
                            研究方向：<select id="select_researchDirection" style="padding:5px;">
                          <option value ="">请选择</option>
                           </select>
        </div>
        <div style="margin-top:10px;margin-bottom:10px;text-align:center;">
            <a id="query_btn" class="btn btn-default" style="margin:5px;">查询</a>
            <a id="reset_btn" class="btn btn-default" style="margin:5px;" >重置</a>
        </div>
            <!-- 查询区域 -->
            #if($shiro.hasPermission("sys:expert:save"))
            <!-- <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a> -->
            <a class="btn btn-primary" @click="addExpert"><i class="fa fa-plus"></i>&nbsp;新增</a>
            #end
            #if($shiro.hasPermission("sys:expert:save"))
            <a class="btn btn-primary" @click="importExcel"><i class="fa fa-plus"></i>&nbsp;导入</a>
            #end
            #if($shiro.hasPermission("sys:expert:list"))
            <a class="btn btn-primary" @click="show"><i class="fa fa-plus"></i>&nbsp;查看</a>
            #end
            #if($shiro.hasPermission("sys:expert:update"))
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            #end
            #if($shiro.hasPermission("sys:expert:delete"))
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            #end
        </div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <!-- <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">专家姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.name" placeholder="专家姓名"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">性别</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.gender" placeholder="性别"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">民族</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.nation" placeholder="民族"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">党派</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.party" placeholder="党派"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">身份证号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.idnum" placeholder="身份证号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">出生日期</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.birth" placeholder="出生日期"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">最高学历</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.highestedu" placeholder="最高学历"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">毕业院校</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.graduateschool" placeholder="毕业院校"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">所学专业</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.major1" placeholder="所学专业"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">从事专业</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.major2" placeholder="从事专业"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">单位性质</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.unitproperty" placeholder="单位性质"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">是否院士，1是，0否</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.isacademician" placeholder="是否院士，1是，0否"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">技术职称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.experttitle" placeholder="技术职称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">担任职务</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.expertjob" placeholder="担任职务"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">在职情况,1在职，0离职</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.onduty" placeholder="在职情况,1在职，0离职"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">移动电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.mobile" placeholder="移动电话"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">传真</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.fax" placeholder="传真"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">电子邮件</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.email" placeholder="电子邮件"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">通信地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.address" placeholder="通信地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">邮政编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.postcode" placeholder="邮政编码"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">研究领域</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.researchfield" placeholder="研究领域"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">研究方向</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.researchdirection" placeholder="研究方向"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">熟悉语种</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.language" placeholder="熟悉语种"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">熟练程度</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.proficiency" placeholder="熟练程度"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">专业简历</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.resume" placeholder="专业简历"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">推荐单位名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.recommendunit" placeholder="推荐单位名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">工作单位名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.workunit" placeholder="工作单位名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.remark" placeholder="备注"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.createTime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建者ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.createUserId" placeholder="创建者ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.modifyTime" placeholder="修改时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改者ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysExpert.modifyUserId" placeholder="修改者ID"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div> -->

<div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                            <div class="form-group">
                <div class="col-sm-2 control-label">专家姓名</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.name" placeholder="专家姓名"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.gender" placeholder="性别"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">民族</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.nation" placeholder="民族"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">党派</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.party" placeholder="党派"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">身份证号</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.idnum" placeholder="身份证号"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">出生日期</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.birth" placeholder="出生日期"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">最高学历</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.highestedu" placeholder="最高学历"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">毕业院校</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.graduateschool" placeholder="毕业院校"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">所学专业</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.major1" placeholder="所学专业"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">从事专业</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.major2" placeholder="从事专业"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">单位性质</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.unitproperty" placeholder="单位性质"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">是否院士，1是，0否</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.isacademician" placeholder="是否院士，1是，0否"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">技术职称</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.experttitle" placeholder="技术职称"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">担任职务</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.expertjob" placeholder="担任职务"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">在职情况,1在职，0离职</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.onduty" placeholder="在职情况,1在职，0离职"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">移动电话</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.mobile" placeholder="移动电话"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">传真</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.fax" placeholder="传真"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">电子邮件</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.email" placeholder="电子邮件"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">通信地址</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.address" placeholder="通信地址"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">邮政编码</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.postcode" placeholder="邮政编码"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">研究领域</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.researchfield" placeholder="研究领域"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">研究方向</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.researchdirection" placeholder="研究方向"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">熟悉语种</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.language" placeholder="熟悉语种"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">熟练程度</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.proficiency" placeholder="熟练程度"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">专业简历</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.resume" placeholder="专业简历"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">推荐单位名称</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.recommendunit" placeholder="推荐单位名称"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">工作单位名称</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.workunit" placeholder="工作单位名称"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.remark" placeholder="备注"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.createTime" placeholder="创建时间"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">创建者ID</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.createUserId" placeholder="创建者ID"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">修改时间</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.modifyTime" placeholder="修改时间"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">修改者ID</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="sysExpert.modifyUserId" placeholder="修改者ID"/>
                </div>
            </div>
                            <div class="form-group">
                <div class="col-sm-2 control-label"></div> 
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${rc.contextPath}/js/sys/expert.js"></script>

</body>
</html>